<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>This is the home page</h1>

    <h2>Create Game</h2>
    <form method="post" action="/create">
      Username: <input type="text" name="username"><br>
      <input type="submit" value="Create Game">
    </form>

    <h2>Join Game</h2>
    <form method="post" action="/join">
      Username: <input type="text" name="username"><br>
      Game ID: <input type="text" name="gameID"><br>
      <input type="submit" value="Join Game">
    </form>
  </body>
</html>
