<!DOCTYPE html>
<html>
  <head>
    <title>TypeTypeType</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1 class="text-center">TypeTypeType</h1> 
        <p class="text-center">A typing game.</p>
      </div>

      <div class="container-liquid">
        <div class="row">

          <div class="col-xs-6 col-sm-6 col-md-6" id="create-room">
            <div class="text-center">
              <h1>Create a new room</h1>
              <form method="post" action="/create">
                <fieldset class="form-group">
                  <input type='text' name='username' placeholder="Name" required/><br/>
                  <button class="btn btn-success" type="submit">Create Room</button>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6" id="join-room">
            <div class="text-center">
              <h1>Or join an existing room</h1>
              <form method="post" action="/join">
                <fieldset class="form-group">
                  <div id="warning"><%= message %></div>

                  <input type='text' name='username' placeholder="Name" required/><br>
                  <input type="text" name="gameID" placeholder="Room ID"><br>
                  <button class="btn btn-success" type="submit">Join Room</button>
                </fieldset>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
