<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <h2>Hello, {{ name }}!</h2>
    <div id="name" hidden>{{ name }}</div>

    <h2>People playing</h1>
    <div id="players"></div>

    <h1 id="winner"></h1>

    <form id="join" action="">
      <button>Join!</button>
    </form>

    <form id="typed" action="">
      <input id="input_word" autocomplete="off" />
    </form>

    <div id="paragraph">
      {{# each words }}
        <li id="{{@ index }}">{{ this }}</li>
      {{/ each }}
    </div>

  </body>
</html>
