<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <h2>Hello, {{ name }}!</h2>
    <p id="name" hidden>{{ name }}</h2>
    <ul id="words"></ul>

    <form id="start" action="">
      <button>Start!</button>
    </form>

    <form id="typed" action="">
      <input id="input_word" autocomplete="off" />
    </form>

    <div id="paragraph">
      {{# each words }}
        <p>{{ this }}</p>
      {{/ each }}
    </div>

  </body>
</html>
