<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <ul id="words"></ul>
    <form action="">
      <input id="input_word" autocomplete="off" />
    </form>
  </body>
</html>
