<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <div class="container">

      <div id="left" class="well well-sm col-xs-3">
        <div id="left-content">
          <div id="greeting">Hello, {{ name }}!</div>
          <div id="name" hidden>{{ name }}</div>

          <div id="player_list" class="well well-sm">
            <div class="panel panel-default">
              <div class="panel-heading">People Playing</div>
              <div class="panel-body">
                <div id="players"></div>
              </div>
            </div>
          </div>

          <form id="join" action="">
            <button class="btn btn-default">Join</button>
          </form>
        </div>
      </div>

      <div id="right" class="well well-sm col-xs-8">

        <div class="text-center">

          <h1 id="message">TypeTypeType</h1>
          <div id="paragraph-container" class="well well-sm">
            <div id="paragraph"></div>
          </div>

          <form id="start" action="">
            <button id="start-button" class="btn btn-default">Start</button>
          </form>

          <form id="typed" action="">
            <input id="input_word" class="text-center" autocomplete="off" />
          </form>
        </div>
      </div>

    </div>
  </body>
</html>
