<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1 class="text-center">TypeTypeType</h1> 
        <p class="text-center">A typing game.</p>
      </div>

      <form method="post" action="/">
        <fieldset class="form-group">
          <div class="text-center">
            <input type='text' name='nickname' placeholder="Name" required /><br />
            <button class="btn btn-success" type="submit">Play!</button>
          </div>
        </fieldset>
      </form>

    </div>
  </body>
</html>
