body {
  background-color: lightblue;
}

.container {
  padding-top: 20px;
}

#left {
  background-color: lightgrey;
  float: left;
  position: relative;
  height: 500px;
}

#player_list {
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
}

#join {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#right {
  background-color: lightgrey;
  float: left;
  position: relative;
  height: 500px;

  margin-left: 10px;
}

#start button {
  width: 150px;
}

#paragraph-container {
  background-color: white;
  height: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

#paragraph-container h1 {
  font-weight: 900;
}

#paragraph {
  position: absolute;
  text-align: left;
  margin-right: 50px;
}

#paragraph div {
  display: inline;
}

#typed {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#input_word {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
